*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.main-page {
  perspective: 1px; 
  transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
}

.parallax-section {
  transform-style: inherit;
  width: 100vw;
  z-index: 0;
}

.parallax-section::before {
	content: '';
  display: block;
	position: absolute;
	width: 100vw;
 	top: 0;
	left: 0;
	z-index: -1;
	transform: translateZ(-1px) scale(2);
  transition: 1s;
	background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.parallax-section_1::before {
	background-image: url('../Images/header-bg.png');
  height: 100vh;
}

.parallax-section_2::before {
  margin-top: 1050px;
	background-image: url('../Images/section-two-bg.png');
  height: 80vh;
}

.parallax-section_3::before {
  margin-top: 2400px;
	background-image: url('../Images/section3-bg.png');
  height: 80vh;
}

.content {
  padding-top: 40px;
}

.navbar {  
  height: 113px;
  background-color: #fff;    
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-name {
  padding-left: 202px;
  font-family: 'Roboto';
  font-style: normal;
}

.company {
  color:#424F57;
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
}

.name {
  color:#14AFCA;
  font-weight: 900;
  font-size: 36px;
  line-height: 36px;
}

.menu {
  width: 780px;
  padding-right: 180px;
  display: flex;
  justify-content: space-between;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color:#3E4C4E;
}

.menu-item {
  color:#3E4C4E;
}

.what {
  color: #14AFCA;
}

.header-title {
  font-family: 'Futura PT', sans-serif;
  font-weight: 600;
  font-size: 52px;
  line-height: 75px;
  color: #fff;
  text-align: center;
  margin-top: 145px;
  font-size: 52px;
  line-height: 75px;
  text-transform: uppercase;
  text-align: center;
}

.section-one {
  background-color: #fff;
  margin-top: 138px;
  height: 438px;
  text-align: center;
}

.section-one-title {
  padding-top: 122px;
  color: #14AFCA;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 40px;
}

.section-one-subtitle {
  padding-top: 20px;
  color:#424F57;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
}

.section-one-p {
  padding: 15px 194px 110px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.triangle-header {
  position: relative;
  margin-top: 54px;       
}

.triangle-header::after {
  content: "";
  width: 100%;
  height: 85px;
  background: linear-gradient( to left bottom, transparent 49.5%, white 50%)
  left / 50.025% 100% no-repeat, linear-gradient( to right bottom, transparent 49.5%, white 50%)
  right / 50.025% 100% no-repeat; 
  position: absolute;
  top: 100%;
  left: 0;
}

.triangle {
  position: relative;        
}

.triangle::after {
  content: "";
  width: 100%;
  height: 85px;
  background: linear-gradient( to right top, transparent 49.5%, white 50%)
  left / 50.025% 100% no-repeat, linear-gradient( to left top, transparent 49.5%, white 50%)
  right / 50.025% 100% no-repeat;
  position: absolute;
  top: 100%;
  left: 0;
}

.triangle-two {
  position: relative;
  margin-top: 20px;      
}

.triangle-two::after {
  content: "";
  width: 100%;
  height: 85px;
  background: linear-gradient( to left bottom, transparent 49.5%, white 50%)
  left / 50.025% 100% no-repeat, linear-gradient( to right bottom, transparent 49.5%, white 50%)
  right / 50.025% 100% no-repeat; 
  position: absolute;
  top: 100%;
  left: 0;
}

.triangle-testimonials {
  position: relative;
  margin-top: 63px;      
}

.triangle-testimonials::after {
  content: "";
  width: 100%;
  height: 85px;
  background: linear-gradient( to left bottom, transparent 49.5%, white 50%)
  left / 50.025% 100% no-repeat, linear-gradient( to right bottom, transparent 49.5%, white 50%)
  right / 50.025% 100% no-repeat; 
  position: absolute;
  top: 100%;
  left: 0;
}

.section-two {
  margin-top: 30px;
  height: 715px;
  background-position: top;
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.section-two-title {
  padding-top: 170px;
  color: #14AFCA;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 40px;
}

.section-two-subtitle {
  color:#fff;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 75px;
  letter-spacing: 0.899999px;
}

.grid-container {    
  height: 400px;
  margin-left: 208px;
  margin-right: 196px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.item-one {
  background-image: url(../Images/Item1.png);
  background-repeat: no-repeat;
  background-position: center;
 
}

.item-two {
  background-image: url(../Images/item2.png);  
  background-repeat: no-repeat;
  background-position: center;
}

.item-three {
  background-image: url(../Images/item3.png);
  background-repeat: no-repeat;
  background-position: center;
}

.adobe-logo {
  display: inline-block;
  margin-top: 68px;
}

.adobe {
  display: inline-block;
  margin-bottom: 10px;
}

.item-four {
  background-image: url(../Images/item4.png);
  background-repeat: no-repeat;
  background-position: center;
}

.item-five {
  background-image: url(../Images/item5.png);
  background-repeat: no-repeat;
  background-position: center;
}

.item-six {
  background-image: url(../Images/item6.png);
  background-repeat: no-repeat;
  background-position: center;
}

.item-seven {
  background-image: url(../Images/item7.png);
  background-repeat: no-repeat;
  background-position: center;
}

.item-eight {
  background-image: url(../Images/item8.png);
  background-repeat: no-repeat;
  background-position: center;
}

.meet-us {
  background-color: #fff;
  height: 650px;
  text-align: center;
}

.meet-us-title {
  padding-top: 82px;
  color: #14AFCA;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 40px;
}

.meet-us-subtitle {
  color:#424F57;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 75px;
  letter-spacing: 0.899999px;
}

.flex-container {
  height: 326px;
  margin-right: 181px;
  margin-left: 181px;
  display: flex;
  text-align: bottom;
}

.flex-item {
  width: 34%;
  display: flex;
  align-items: bottom;  
}

.item-1 {
  background-image: url(../Images/Photo1.png);
  background-repeat: no-repeat;
  background-position: top center;
}

.item-2 {
  background-image: url(../Images/Photo2.png);
  background-repeat: no-repeat;
  background-position: top center;
}

.item-3 {
  background-image: url(../Images/Photo3.png);
  background-repeat: no-repeat;
  background-position: top center;
}

.flex-p {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 230px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;    
}

.testimonials {
  margin-top: -1px;
  height: 540px;
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.testimonials-title {
  padding-top: 170px;
  color: #14AFCA;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 40px;
}

.testimonials-subtitle {
  color:#fff;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 75px;
  letter-spacing: 0.899999px;
}

.testimonials-p {
  color: #D3CCCC;
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.8px;
  padding: 0 251px 0;
}

.author {
  display: block;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.45px;
  color: #FFFFFF;
  padding: 28px 0 0 560px ;
}

.footer {

  background-color: #fff;
  height: 550px;
  text-align: center;
}

.footer-title {
  padding-top: 105px;
  color: #14AFCA;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 40px;
}

.footer-subtitle {
  color:#424F57;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 75px;
  letter-spacing: 0.899999px;
}

.footer-p {  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  letter-spacing: 0.75px;
  color: #424F57;
}

.copyright {    
  padding: 96px 492px 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.7px;
  color: #3D3C3C;
}

.iconic {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.8px;
  color: #3D3C3C;
}